<header class="lg:px-16 md:px-4 bg-white flex flex-wrap items-center shadow-md">
  <div class="flex-1 flex justify-between items-center">
    <img src="assets/logo-one-transparent.png" alt="Artify Logo" class="m-h-16 m-w-64" />
  </div>

  <nav hlmNavigationMenu>
    <ul hlmNavigationMenuList class="flex-wrap">
      <li hlmNavigationMenuItem class="pl-2">
        <a hlmNavigationMenuLink routerLink="/shop/reproductions" routerLinkActive>reproductions</a>
      </li>

      <li hlmNavigationMenuItem class="pl-2">
        <a hlmNavigationMenuLink routerLink="/shop/wishlist" routerLinkActive>wishlist</a>
      </li>

      <li class="pl-2">
        <ng-container *ngTemplateOutlet="sideBar; context: { $implicit: wishlistedItems() }"></ng-container>
      </li>
    </ul>
  </nav>
</header>

<ng-template #sideBar let-wishlistedItems>
  <hlm-sheet>
    <div class="relative">
      <button hlmBtn hlmSheetTrigger side="right" size="icon" variant="destructive" class="rounded-full">
        <ng-icon name="lucideHeart" />
      </button>
      @if (wishlistedItems > 0) {
        <span hlmBadge class="absolute -top-[4px] -right-[8px] bg-red-500 text-red-100">{{ wishlistedItems }}</span>
      }
    </div>
    <hlm-sheet-content *hlmSheetPortal="let ctx">
      <hlm-sheet-header>
        <h3 hlmSheetTitle>wishlist</h3>
        <p hlmSheetDescription>manage your wishlist items</p>
      </hlm-sheet-header>

      <div class="flex w-full items-center justify-center mt-4 p-4">
        <app-wishlist-carousel></app-wishlist-carousel>
      </div>

      <hlm-sheet-footer>
        <button hlmSheetClose hlmBtn type="submit">Close</button>
      </hlm-sheet-footer>
    </hlm-sheet-content>
  </hlm-sheet>
</ng-template>
