@if (product(); as product) {
  <hlm-card class="relative mx-auto w-full max-w-sm pt-0">
    <div class="bg-primary absolute inset-0 z-30 aspect-video opacity-50 mix-blend-color"></div>
    <img
      src="/assets/{{ product.thumbnailUrl }}"
      alt="{{ product.title }}"
      class="relative z-20 aspect-video w-full object-cover brightness-60 dark:brightness-40"
    />
    <hlm-card-header>
      <div hlmCardAction>
        <span hlmBadge variant="secondary" class="bg-blue-50 text-blue-700 dark:bg-blue-950 dark:text-blue-300">{{
          product.artist
        }}</span>
      </div>
      <p hlmCardTitle>{{ product.title }}</p>
    </hlm-card-header>
    <div hlmCardContent>
      <p [class]="`${hlmLarge}`">{{ product.price | currency: 'EUR' : true : '1.2-2' }}<br /></p>
      <span hlmCardDescription>{{ product.description }}</span>
      <p>
        {{ product.medium }}&nbsp;•&nbsp;{{ product.dimensions_cm.width }}&nbsp; *
        {{ product.dimensions_cm.height }}&nbsp;cm<br />
      </p>
    </div>
    <hlm-card-footer class="flex items-end content-end">
      @if (canBeWishlisted()) {
        <button
          (click)="onWishlisted(product)"
          [ngClass]="wishlistStatus()"
          hlmToggle
          size="sm"
          variant="outline"
          aria-label="Toggle bookmark"
        >
          <ng-icon name="lucideHeart" />
          wishlist
        </button>
      }
    </hlm-card-footer>
  </hlm-card>
}
