<header class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md">
  <div class="flex-1 flex justify-between items-center">
    <a href="#" class="text-xl">Artify</a>
  </div>

  <nav hlmNavigationMenu>
    <ul hlmNavigationMenuList class="flex-wrap">
      <li hlmNavigationMenuItem class="pl-2">
        <a hlmNavigationMenuLink routerLink="/shop/reproductions" routerLinkActive>reproductions</a>
      </li>

      <li hlmNavigationMenuItem class="pl-2">
        <a hlmNavigationMenuLink routerLink="/shop/wishlist" routerLinkActive>wishlist</a>
      </li>

      <li class="pl-2">
        <hlm-sheet>
          <div class="relative">
            <button hlmBtn hlmSheetTrigger side="right" size="icon" variant="destructive" class="rounded-full">
              <ng-icon name="lucideHeart" />
            </button>
            @if (wishlistedItems() > 0) {
              <span
                hlmBadge
                class="absolute -top-[4px] -right-[8px] bg-green-50 text-green-700 dark:bg-green-950 dark:text-green-300"
                >{{ wishlistedItems() }}</span
              >
            }
          </div>
          <hlm-sheet-content *hlmSheetPortal="let ctx">
            <hlm-sheet-header>
              <h3 hlmSheetTitle>Are you absolutely sure?</h3>
              <p hlmSheetDescription>
                This action cannot be undone. This will permanently delete your account and remove your data from our
                servers.
              </p>
            </hlm-sheet-header>
            <div class="grid flex-1 auto-rows-min gap-6 px-4">
              <div class="grid gap-3">
                <label hlmLabel for="name" class="text-right">Name</label>
                <input hlmInput id="name" value="Pedro Duarte" class="col-span-3" />
              </div>
              <div class="grid gap-3">
                <label hlmLabel for="username" class="text-right">Username</label>
                <input hlmInput id="username" value="@peduarte" class="col-span-3" />
                <input class="w-80" hlmInput type="number" placeholder="number" />
              </div>
            </div>
            <hlm-sheet-footer>
              <button hlmBtn type="submit">Save Changes</button>
              <button hlmSheetClose hlmBtn variant="outline">Close</button>
            </hlm-sheet-footer>
          </hlm-sheet-content>
        </hlm-sheet>
      </li>
    </ul>
  </nav>
</header>
